/* General Adjustments */
#date,
#startTime,
#duration {
  font-size: 0.9rem; /* Scale font size for smaller screens */
  padding: 0.5rem;   /* Adjust padding */
}

/* Input and Calendar Responsiveness */
input[type="date"] {
  max-width: 100%;
  width: 100%;
  height: auto;
}

select {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.dark-mode .content .bg-white .flex .flex h2 button i.fa-arrow-left {
  color: white;
}

/* For Small Screens */
@media (max-width: 768px) {
  #date, #startTime, #duration {
    font-size: 0.8rem; 
    padding: 0.4rem;
  }

  #bookingForm {
    padding: 1rem; 
  }
}
